//ファイルのインポート
@import "lib/base";
@import "lib/layout";
@import "lib/mixins"; //ブレイクポイントの設定

body {
	font-family: "yu gothic", sans-serif;
	font-size: 14px;
	background-color: #eee;
	color: #222222;
	@include max-screen($breakpoint-mobile) {
		font-size: 13px;
	}
}

.main {
	width: 100%;
	height: 100vh;
	margin: 0 auto;
	max-width: 750px;
	background-color: #fff;
	#main-header {
		width: 100%;
		#title_logo {
			width: 30%;
			img {
				width: 100%;
			}
		}
	}
	.login-input-area {

	}
	#logout {
		display: none;
	}
}
