extends _head
block title
 title= "connect"
block body
 .connect
  include _header
  #connect_sign
   #login-input-area
    button#twitter twitterでログインする
    p#or または
    input#email(type="email" placeholder="メールアドレス" required)
    input#username(type="username" placeholder="ユーザーネーム" required)
    input#password(type="password" placeholder="パスワード" required)
    button#login.hide ログイン
    button#newuser 新規登録
   p#haveaccount アカウントをお持ちですか？
    button#change_login ログインする
    button#change_user.hide 新規登録
   p#info
  #connect_content.hide
   #connect_content_btns
    button#btn_iraira イライラ
    button#btn_nadenade なでなで
   #connect_content_display
    #chara
     img#chara_img(src="img/chara.png")
    #display
     #display_iraira
      p イライラメーター
      p#iraira_count
     #display_nadenade
      p 気分がいいぞ
      p#nadenade_count
  button#logout.hide ログアウト
 include _footer
 include _script